@using System.Dynamic;
@using EnterpriseDataPipeline.Models;
@using EnterpriseDataPipeline.ViewModel;
@using System.Web.UI.WebControls;
@*@model IEnumerable<EnterpriseDataPipeline.Models.Storage>*@
@model StorageViewModel
@{
    ViewBag.Title = "SV4U Enterprise Data PipeLine";
    ViewBag.SourceDB = "BooksDB";
    ViewBag.DestinationDB = "BooksDB";    
    ViewBag.SourceTB = "Books";
    ViewBag.DestinationTB = "Books";

    ViewBag.Page = "";
}

<!--2. Load the Google charts-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!--4. AJAX javascript -->
<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    
    function drawChart(chartsdata, x, y, xidx, yidx) {

        //debugger;

        if (chartsdata.val == undefined)
            return;

        var data = new google.visualization.DataTable();

        data.addColumn('string', x);
        data.addColumn('number', y);

        for (var i = 0; i < chartsdata.val.length-1; i++) {
            data.addRow([chartsdata.val[i][xidx], parseInt(chartsdata.val[i][yidx])]);
        }
        // Instantiate and draw our chart, passing in some options
        var chart = new google.visualization.PieChart(document.getElementById('pieChartdiv'));

        chart.draw(data,
          {
              title: "Pie Chart",
              //curveType: 'function',
              position: "top",
              fontsize: "12px",
              hAxis: { title: x, titleTextStyle: { color: '#333' } },
              vAxis: { title: y, minValue: 0 },
              legend: { position: 'labeled', textStyle: { color: 'blue', fontSize: 12 }, alignment: 'start', labeledValueText: 'both' },
              width: '880',
              height: '480',
              chartArea: { width: "60%", height: "70%" }    //Added by Anthony Lai on 2015-09-07 to allow allow lenged cut-off
          });


        var data2 = new google.visualization.DataTable();

        data2.addColumn('string', x);
        data2.addColumn('number', y + '1');
        data2.addColumn('number', y + '2');

        for (var K = 0; K < chartsdata.val.length - 1; K++) {
            //data2.addRow([chartsdata[i].x, chartsdata[i].y, chartsdata[i].y]);
            data2.addRow([chartsdata.val[K][xidx], parseInt(chartsdata.val[K][yidx]), parseInt(chartsdata.val[K][yidx])]);
        }


        chart = new google.visualization.ComboChart(document.getElementById('barLineChartdiv'));

        chart.draw(data2,
          {
              title: "Bar Line Chart",
              //curveType: 'function',
              position: "top",
              fontsize: "12px",
              seriesType: 'bars',
              series: { 1: { type: 'line' } },
              hAxis: { title: x, titleTextStyle: { color: '#333' } },
              vAxis: { title: y, minValue: 0 },
              tooltip: { isHtml: true },
              legend: { position: 'labeled', textStyle: { color: 'blue', fontSize: 12 }, alignment: 'start', labeledValueText: 'both' },
              width: '880',
              height: '480',
              chartArea: { width: "60%", height: "70%" }    //Added by Anthony Lai on 2015-09-07 to allow allow lenged cut-off
          });
    }

</script>


<script type="text/javascript">

    var chartsdata = null;

    $(document).ready(function () {

        //debugger;
        $("#lbSQL").css('visibility', 'hidden');
        $("#lbHBaseShell").css('visibility', 'hidden');
        $("#isSQL").css('visibility', 'hidden');
        $("#isHBaseShell").css('visibility', 'hidden');

        if (window.location.hash.length > 0) {
            var iframe = $('iframeCube').get(0);
            iframe.src = "http://142.0.252.93:9090/mondrian" + window.location.hash.substring(1);
        }

        $('iframeCube').bind("reload", function () {
            //debugger;
            var page = this.contentDocument.baseURI.substring("http://142.0.252.93:9090/mondrian".length);
            window.location.hash = page;
        });


        $("body").css("background-color", "#F3F3F3")

        $("select").removeAttr("multiple");

        //debugger;   //Added by Anthony Lai to debug javascript; must be removed after debug is done

        //get source database
        $("#ddlSource").bind("change", function () {
            //debugger;
            $("#lbSourceTableError").css('visibility', 'hidden');
            $("#ddlSourceDB").css('visibility', 'hidden');
            $("#ddlSourceTable").css('visibility', 'hidden');
            $("#lbSourceTableError").empty();
            $("#ddlSourceDB").empty();
            $("#ddlSourceTable").empty();

            //$("#taSourceQueryResult").empty();

            var divSourceDB = $("#ddlSourceDB");
            var SelSource = $("#ddlSource").val();
            var SelSourceDB = '@ViewBag.SourceDB';

            //if (SelDestination == 'HBase') {
            if (SelSource == '9') {
                $("#lbSQL").css('visibility', 'visible');
                $("#lbHBaseShell").css('visibility', 'visible');
                $("#isSQL").css('visibility', 'visible');
                $("#isHBaseShell").css('visibility', 'visible');
            }
            else {
                $("#lbSQL").css('visibility', 'hidden');
                $("#lbHBaseShell").css('visibility', 'hidden');
                $("#isSQL").css('visibility', 'hidden');
                $("#isHBaseShell").css('visibility', 'hidden');
            }

            var url = '@Url.Action("GetDB", "DashBoard")';
            $.get(url, { storage: SelSource },
                function (data) {
                    //debugger;
                    if (data.success) {

                        //============================================================================================================================================
                        //Special handling for SPARK because databases and tables data return from the same query
                        if (SelSource == 'Spark') {
                            for (var i = 0; i < data.val.length; i++) {
                                if (data.val[i] == 'DB_END') {
                                    for (var k = i + 1; k < data.val.length - 1; k++) {
                                        //if (data.val[k] == SelSourceDB) {
                                        if (k == (i + 1)) {
                                            $("#ddlSourceTable").append('<option value="' + data.val[k] + '" selected="selected">' + data.val[k] + '</option>');
                                        }
                                        else
                                            $("#ddlSourceTable").append('<option value="' + data.val[k] + '">' + data.val[k] + '</option>');
                                    }
                                    break;
                                }
                            }
                            $("#ddlSourceTable").css('visibility', 'visible');

                            if (data.val.length > 0) {
                                SelSourceDB = data.val[data.val.length - 1][0];   //Get the default source database here

                                // Success, execute js code here
                                for (var i = 0; i < data.val.length - 1; i++) {   //set (i < data.val.length-1) to skip default source database
                                    if (data.val[i] == 'DB_END') {
                                        break;
                                    }

                                    if (data.val[i][0] == SelSourceDB) {
                                        divSourceDB.append('<option value="' + data.val[i] + '" selected="selected">' + data.val[i] + '</option>');
                                    }
                                    else
                                        divSourceDB.append('<option value="' + data.val[i] + '">' + data.val[i] + '</option>');
                                }
                                divSourceDB.css('visibility', 'visible');
                            }

                            //$("#ddlSourceDB").trigger("change");    //trigger a change to dropdownlist for source database and load its corresponding tables

                            $("#ddlSourceTable").trigger("change");

                        }//END if (SelSource == 'Spark')
                            //============================================================================================================================================


                            //********************************************************************************************************************************************
                        else {
                            if (data.val.length > 0) {
                                SelSourceDB = data.val[data.val.length - 1][0];   //Get the default source database here

                                // Success, execute js code here
                                for (var i = 0; i < data.val.length - 1; i++) {   //set (i < data.val.length-1) to skip default source database
                                    if (data.val[i] == 'DB_END') {
                                        break;
                                    }

                                    if (data.val[i][0] == SelSourceDB) {
                                        divSourceDB.append('<option value="' + data.val[i] + '" selected="selected">' + data.val[i] + '</option>');
                                    }
                                    else
                                        divSourceDB.append('<option value="' + data.val[i] + '">' + data.val[i] + '</option>');
                                }
                                divSourceDB.css('visibility', 'visible');
                            }

                            $("#ddlSourceDB").trigger("change");    //trigger a change to dropdownlist for source database and load its corresponding tables
                        }
                        //********************************************************************************************************************************************

                    }
                    else {
                        // Error, execute js code here
                        $("#lbSourceTableError").html(data.val);
                        $("#lbSourceTableError").css('visibility', 'visible');
                        divSourceDB.css('visibility', 'hidden');
                    }
                });

            //$("#ddlSourceDB").trigger("change");    //trigger a change to dropdownlist for source database and load its corresponding tables

        });
        $("#ddlSource").trigger("change");


        //get source table
        $("#ddlSourceDB").bind("change", function () {
            //debugger;
            $("#lbSourceTableError").css('visibility', 'hidden');
            $("#ddlSourceTable").css('visibility', 'hidden');
            $("#lbSourceTableError").empty();
            $("#ddlSourceTable").empty();

            var divSourceTable = $("#ddlSourceTable");
            var SelSource = $("#ddlSource").val();
            var SelSourceDB = $("#ddlSourceDB").val();
            @*if (SelSourceDB == null) {
                SelSourceDB = '@ViewBag.SourceDB';
            }*@
            var url = '@Url.Action("GetDBTable", "DashBoard")';
            $.get(url, { storage: SelSource, database: SelSourceDB },
                function (data) {
                    //debugger;
                    if (data.success) {
                        // Success, execute js code here
                        divSourceTable.empty();
                        for (var i = 0; i < data.val.length; i++) {
                            if (i == 0) {
                                divSourceTable.append('<option value="' + data.val[i] + '" selected="selected">' + data.val[i] + '</option>');

                                //update source query string
                                $("#taSourceQuery").val("select * from " + data.val[i] + " limit 100");
                            }
                            else
                                divSourceTable.append('<option value="' + data.val[i] + '">' + data.val[i] + '</option>');
                        }
                        divSourceTable.css('visibility', 'visible');

                        $("#ddlSourceTable").trigger("change");
                    }
                    else {
                        // Error, execute js code here
                        $("#lbSourceTableError").html(data.val);
                        $("#lbSourceTableError").css('visibility', 'visible');
                        divSourceTable.css('visibility', 'hidden');
                    }
                });
        });
        //$("#ddlSourceDB").trigger("change");      //commented by Anthony Lai on 2015-09-01 because no need to trigger change


        //update source query when ddlSourceTable change
        $("#ddlSourceTable").bind("change", function () {
            //debugger;
            var selSQL = $("#isSQL").is(":checked");

            var SelSource = $("#ddlSource").val();
            var myVal = $("#ddlSourceTable").val();
            if (myVal == null) {
                myVal = '@ViewBag.SourceTB';
            }
            $("#taSourceQuery").val("select * from " + myVal + " limit 100");

            if (SelSource == 'HBase') {
                //$("#taSourceQuery").val("scan '" + myVal + "', {LIMIT => 100}");
                if (selSQL == true)
                    $("#taDestinationQuery").val("select * from \"" + myVal + "\" limit 100");
                else
                    $("#taDestinationQuery").val("scan '" + myVal + "', {LIMIT => 100}");
            }
        });
        //$("#ddlSourceTable").trigger("change");


        $("#btRunQuery").bind("click", function () {

            //debugger;
            $("#lbSourceTableError").css('visibility', 'hidden');
            $("#lbSourceTableError").empty();
            $("#lbSourceQueryResult").empty();
            $("#SourceDetailTable").empty();

            var url = "@Url.Action("RunSourceQuery", "DashBoard")";
            //$.post(url, {
            //    Source: $("#ddlSource").val(), Destination: $("#ddlDestination").val(),
            //    dbSourceDB: $("#lbSourceDB").val(), dbDestinationDB: $("#lbDestinationDB").val(),
            //    dbSourceTable: $("#lbSourceTable").val(), dbDestinationTable: $("#lbDestinationTable").val()
            //},
            $.get(url, {
                source: $("#ddlSource").val(),
                database: $("#ddlSourceDB").val(),
                table: $("#ddlSourceTable").val(),
                query: $("#taSourceQuery").val(),
                hbaseSQL: $("#isSQL").is(":checked")
            },
                function (data) {
                    //debugger;

                    chartsdata = data;

                    if (data.success) {
                        $("#SourceDetailTable").empty();
                        $("#ddlSourceTB_XAxis").empty();
                        $("#ddlSourceTB_YAxis").empty();
                        //$("#SourceDetailTable").append("<table id='tblSourceQueryResult' class='tableStyle'><tr><th class='tableHeader' style='width:60px;'>ID</th><th class='tableHeader'>Name</th></tr></table>");
                        $("#SourceDetailTable").append("<table id='tblSourceQueryResult' class='table table-striped table-bordered table-condensed'></table>");

                        var textCol = "<tr>";
                        var colName = data.val[data.val.length - 1];
                        for (var k = 0; k < colName.length; k++) {
                            textCol = textCol + "<th class='tableHeader' style='width:auto;'>" + colName[k] + "</th>";

                            if (k == 0) {
                                $("#ddlSourceTB_XAxis").append('<option value="' + colName[k] + '" selected="selected">' + colName[k] + '</option>');
                                $("#ddlSourceTB_YAxis").append('<option value="' + colName[k] + '" selected="selected">' + colName[k] + '</option>');
                            }
                            else {
                                $("#ddlSourceTB_XAxis").append('<option value="' + colName[k] + '">' + colName[k] + '</option>');
                                $("#ddlSourceTB_YAxis").append('<option value="' + colName[k] + '">' + colName[k] + '</option>');
                            }
                        }
                        textCol = textCol + "</tr>";
                        $("#tblSourceQueryResult").append(textCol);

                        var text = "";
                        for (var i = 0; i < data.val.length - 1; i++) {
                            //debugger;
                            text = text + "<tr>";
                            var myData = data.val[i];
                            for (var j = 0; j < myData.length; j++) {
                                text = text + "<td class='tableCell' style='width:auto; white-space:nowrap; text-overflow: ellipsis; overflow: hidden;'>" + myData[j] + "</td>";
                            }
                            text = text + "</tr>"
                        }

                        if (data.val.length == 2) {
                            $("#lbSourceQueryResult").append("Query Result: " + (data.val.length - 1) + " Row and each with " + colName.length + " Columns");
                        }
                        else if (data.val.length > 2) {
                            $("#lbSourceQueryResult").append("Query Result: " + (data.val.length - 1) + " Rows and each with " + colName.length + " Columns");
                        }
                        else {
                            $("#lbSourceQueryResult").append("Query Result: No Data");
                        }

                        $("#tblSourceQueryResult").append(text);
                    }
                    else {
                        $("#lbSourceTableError").html(data.val);
                        $("#lbSourceTableError").css('visibility', 'visible');
                        $("#lbSourceTableError").css('color', 'red');
                    }
                });
        });

        $("#btRunChart").bind("click", function () {
            //debugger;
            var xAxis = $("#ddlSourceTB_XAxis").val();
            var xAxisIndex = $("#ddlSourceTB_XAxis")[0].selectedIndex;
            if (xAxis == null) {

            }
            var yAxis = $("#ddlSourceTB_YAxis").val();
            var yAxisIndex = $("#ddlSourceTB_YAxis")[0].selectedIndex;
            if (yAxis == null) {

            }

            drawChart(chartsdata, xAxis, yAxis, xAxisIndex, yAxisIndex);
        });


        //update destination query when ddlDestinationTable change
        $("#isSQL").bind("click", function () {
            //debugger;
            $("#isSQL").prop("checked", true);
            $("#isHBaseShell").prop("checked", false);

            var selSourceTable = $("#ddlSourceTable").val();
            //update destination query string
            $("#taSourceQuery").val("select * from " + selSourceTable + " limit 100");
        });

        //update destination query when ddlDestinationTable change
        $("#isHBaseShell").bind("click", function () {
            //debugger;
            $("#isHBaseShell").prop("checked", true);
            $("#isSQL").prop("checked", false);

            var selSourceTable = $("#ddlSourceTable").val();
            //update destination query string
            $("#taSourceQuery").val("scan '" + selSourceTable + "', {LIMIT => 100}");
        });


    });

</script>


<h2>
    @ViewBag.Title.
</h2>

<div id="tabs">
    <ul>
        <li><a href="#tabs-query">Query</a></li>
        <li><a href="#tabs-chart">Chart</a></li>
    </ul>

    <div id="tabs-query" class="row">
        <div class="col-md-8">

            <h4>Select source and destination with its corresponding table(s), x-axis and y-axis to create chart.</h4>
            <br />
            @*Source Query*@
            <table align="left" class="taskList" bordercolor="#bbbbbb" style="width: 600px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="3">
                <tbody>
                    <tr>
                        <td style="width: 20%; text-align: center;">
                            <label>Source</label>
                        </td>
                        <td style="width: 20%; text-align: center;">
                            <label>Source Database</label>
                        </td>
                        <td style="width: 20%; text-align: center;">
                            <label>Source Table</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: center;" valign="top">
                            @if (Model != null)
                            {
                                @*@Html.DropDownList("Source", new SelectList(Model.Select(i => i.Name).Distinct().ToList(), "MySQL"), new { @class = "width305", @size = "1", @id = "ddlSource", @style = "width:auto" })*@
                                @Html.DropDownListFor(m => m.SourceId, Model.Storage, new { @class = "width305", @size = "1", @id = "ddlSource", @style = "width:auto" })
                            }
                        </td>
                        <td style="width: 20%; text-align: center;" valign="top">
                            @{var mItemsDB = new List<SelectListItem> { };}
                            @Html.DropDownList("SourceDB", new SelectList(mItemsDB, "BooksDB"), new { @class = "width305", @id = "ddlSourceDB", size = 1, style = "width:auto" })
                        </td>
                        <td style="width: 20%; text-align: center;" valign="middle">
                        @*<td style="width: 20%; text-align: center;" valign="top">*@
                            @{var mItemsTB = new List<SelectListItem> { };}
                            @Html.DropDownList("SourceTable", new SelectList(mItemsTB, "Books"), new { @class = "width305", @id = "ddlSourceTable", size = 1, style = "width:auto" })
                        </td>
                    </tr>

                    <tr>
                        <th colspan="3">Query:</th>
                    </tr>
                    <tr>
                        <td style="width: 100%; text-align: left;" colspan="2">
                            @*@Html.TextArea("SourceQuery", "Select * from Books", new { @class = "form-control", @id = "taSourceQuery", @style = "height: 120px;" })*@
                            @Html.TextArea("SourceQuery", "", new { @class = "form-control-SV4U-TextArea", @id = "taSourceQuery", @style = "height: 120px;" })
                            <br />
                            <label id="lbSQL">SQL: </label>
                            <input checked="checked"
                                   id="isSQL"
                                   name="isSQL"
                                   type="checkbox"
                                   value="true" />
                            <label id="lbHBaseShell">HBase Shell: </label>
                            <input id="isHBaseShell"
                                   name="isHbaseShell"
                                   type="checkbox"
                                   value="false" />
                        </td>
                        <td style="width: 20%; text-align: center;">
                            <label id="lbSourceTableError" style="visibility: hidden; color: red"></label>
                            <input id="btRunQuery" type="submit" value="Run Query >>" class="btn btn-default" />
                        </td>
                    </tr>

                </tbody>
            </table>


            <br />
            <br />
            <table align="left" class="taskList" bordercolor="#bbbbbb" style="width: 600px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="3">
                <tbody>
                    <tr>
                        <td style="width: 20%; text-align: left;">
                            <label id="lbSourceQueryResult">Query Result:</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%; text-align: left;">
                            <div id="SourceDetailTable"></div>
                        </td>
                    </tr>
                </tbody>
            </table>


            @*</section>*@
        </div>
    </div>

    <div id="tabs-chart" class="row">
        <h4>Select X-Axis and Y-Axis to Create Chart.</h4>
        <div>
            <table align="left" class="taskList" bordercolor="#bbbbbb" style="width: 800px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="3">
                <tbody>
                    <tr>
                        <td style="width: 20%; text-align: center;">
                            <label>X-Axis</label>
                        </td>
                        <td style="width: 20%; text-align: center;">
                            <label>Y-Axis</label>
                        </td>
                        <td style="width: 20%; text-align: center; visibility: hidden;">
                            <label>Source</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: center;" valign="middle">
                            @{var mItemsTB_XAxis = new List<SelectListItem> { };}
                            @Html.DropDownList("SourceDB", new SelectList(mItemsTB_XAxis, "BooksDB"), new { @class = "width305", @id = "ddlSourceTB_XAxis", size = 1, style = "width:auto" })
                        </td>
                        <td style="width: 20%; text-align: center;" valign="middle">
                            @{var mItemsTB_YAxis = new List<SelectListItem> { };}
                            @Html.DropDownList("SourceDB", new SelectList(mItemsTB_YAxis, "BooksDB"), new { @class = "width305", @id = "ddlSourceTB_YAxis", size = 1, style = "width:auto" })
                        </td>
                        <td style="width: 20%; text-align: center;" valign="middle">
                            <input id="btRunChart" type="submit" value="Run Chart >>" class="btn btn-default" />
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />

        <div id="pieChartdiv">
        </div>
        <br />
        @*<div id="barChartdiv" style="width: 75%; height: 480px;">*@
        <div id="barChartdiv">
        </div>
        <br />
        @*<div id="lineChartdiv" style="width: 75%; height: 480px;">*@
        <div id="lineChartdiv">
        </div>
        <br />
        @*<div id="barLineChartdiv" style="width: 75%; height: 480px;">*@
        <div id="barLineChartdiv">
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
